/* =-=-=-=-=-=-=-=-= */
/* =-= Main CSS  =-= */
/* =-=-=-=-=-=-=-=-= */

body {
	margin: 0;
	font-family: "Arial", sans-serif;
}

.container {
	width: 1200px;
	margin: 0 auto;
}


/* =-=-=-=-=-=-=-= */
/* =-= Navbar  =-= */
/* =-=-=-=-=-=-=-= */

.navbar {
	background-color: #009baa;
	height: 80px;
	color: #fff;
	padding: 0 40px;
	margin: 30px 0;
}

.logo-image {
	margin-top: 10px;
	height: 60px;
	display: inline-block;
}

.search-bar {
	height: 38px;
	display: inline-block;
	border: 1px solid #000;
	background-color: #fff;
	position: absolute;
    margin: 20px 0 20px 120px;
}

.search-bar form {
	height: 38px;
    width: 530px;
	position: relative;
}

.search-bar-bar {
	height: 18px;
    border: none;
    position: absolute;
    width: 470px;
    font-size: 18px;
    padding: 10px 0px 10px 20px;
}

.search-bar-bar:focus,
.search-icon:focus {
	outline: none;
}

.search-icon {
	height: 30px;
	position: absolute;
    right: 0;
    margin: 4px;
}

.nav-menu {
	float: right;
	margin: 10px 0; 
}

.nav-menu ul {
	list-style-type: none;
	padding: 0;
}

.nav-menu li {
	display: inline;
	font-size: 24px;
	margin-left: 50px
}

.nav-menu a {
	text-decoration: none;
	color: #fff;
}

.nav-menu a:hover {
	text-decoration: underline;
}


/* =-=-=-=-=-=-=-= */
/* =-= Content =-= */
/* =-=-=-=-=-=-=-= */

.content {
	
}

/* Video player */
.video-container {
	width: 1200px;
	height: 675px;
	position: relative;
	margin-bottom: 75px;
}

#video-placeholder {
	position: absolute;
}

#video-placeholder img {
	width: 1200px;
	height: 675px;
}

#video-overlay {
	width: 1000px;
	height: 675px;
	display: block;
	position: absolute;
}

#video-overlay-text {
	color: #fff;
	padding: 100px 40px;
	width: 600px;
}
#video-overlay-text h1{
	font-size: 48px;
}

.video-bekijken-button {
	margin-top: 20px;
	width: 250px;
	color: #000;
	background-color: #fff;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	padding: 11px 0;
	border: none;
	outline: none;
}

.video-bekijken-button:hover {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

#video-player {
	visibility: hidden;
}

#video-player video {
	width: 1200px;
	height: 675px;
}

/* Home video overlay */
.home-video-overlay {
	margin: 0 auto;
	height: 675px;
    position: absolute;
}

.home-video-overlay a {
	width: 1200px;
	height: 675px;
	display: block;
}

.home-video-overlay a:hover {
	background-color: rgba(255, 255, 255, 0.4)
}

.home-video-overlay img {
	height: 51px;
    width: 306px;
    padding: 312px 447px;
}

/* Blocks */
.blocks-container,
.content-block {
	width: 1120px;
	margin: 0 auto;
}

.blocks {
	
}

.blocks a {
	text-decoration: none;
	display: inline-block;
	height: 198px;
	margin-bottom: 25px;
}

.blocks a:nth-child(3n+2) {
	margin: 0 28px 25px 28px;
}

.blocks a:nth-child(3n+3) .block {
	margin-right: -1px;
}

.block {
	width: 352px;
	height: 198px;
	display: inline-block;
	position: relative;
}

.block:hover {
	opacity: 0.6;
}

.block img {
	width: 352px;
	height: 198px;
}

.block-naam {
	height: 40px;
	color: #fff;
	position: absolute;
	bottom: 0;
	font-size: 18px;
	height: 20px;
	padding: 10px;
}

/* Account / Login */
.content-block .button {
	background-color: #009baa;
	color: #fff;
	text-decoration: none;
	padding: 8px 12px;
	display: block;
	width: fit-content;
	margin-bottom: 15px;
}

/* Tags */
.tag-naam {
	background-color: #009baa;
}

.video-overlay-tag {
	background: linear-gradient(90deg, #009baa 0%, rgba(0, 0, 0, 0) 100%);
}

/* Videos */
.video-naam {
	background-color: #e62328;
}

.video-overlay-video {
	background: linear-gradient(90deg, #e62328 0%, rgba(0, 0, 0, 0) 100%);
}

/* Playlists */
.playlist-naam {
	background-color: #005aaa;
}

.video-overlay-playlist {
	background: linear-gradient(90deg, #005aaa 0%, rgba(0, 0, 0, 0) 100%);
}


/* =-=-=-=-=-=-=-= */
/* =-= Footer  =-= */
/* =-=-=-=-=-=-=-= */

.footer {
	height: 200px;
	background-color: #005aaa;
	margin-top: 80px;
	padding: 0 40px;
}

.footer-block {
	width: 352px;
	display: inline-block;
}

.footer-block:nth-child(2) {
	margin: 0 28px;
}

.footer-block:nth-child(3) {
	margin-right: -1px;
}

.nhl-made-by-students {
	margin-top: 45px;
}